H1, H2 {
    color: #380711;
    font-size: 70px;
    width: 600px;
    background-color: white;
}


h1 {
    padding: 10px;
    margin-top: 2in;
}

h2 {
    float: right;
    margin-left: 3in;

}

#ghost {
   width: 400px;
    float: right;
    margin-left: 3in;

}

BODY {
    background-image: url("inkwell.jpg");
    font-family: monospace;
}

#rain {
    float: top;
    display: flex;
    visibility: hidden;
}

#koko {
    margin-top: 1in;
    float: left;
}

#output {
    background-color: white;
    width: fit-content;
}

#my-button {
    background-color: #380711;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 14px 40px;
    cursor: pointer;
}